
.maincolor,
.features i,
.works .overlay .i:first-of-type,
.company .i,
.team .person-info .social-over .icons .icon-cover,
.main-devoloper .btn{
	color: #d9534f;
}
.section-head .welcome .h2:after,
.section-head .welcome .h2:before,
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,
.main-back-color,
.key-icon,
.port button:hover,
.port .i:hover,
.features2 .feat:hover i,
.info,
.main-devoloper,
.footer i:hover{
	background: #d9534f !important;
}
.section-head .welcome::after,
.section-head .welcome::before,
.works .overlay,
.team .person-info .social-over{
	background: rgba(216, 84, 79, 0.81);
}

.c100.green .bar, .c100.green .fill {border-color: #d9534f !important;}
.c100.green:hover > span {
    color: #ff0023;
}

.custom-btn{
	color: #fff !important;
	background-color: #d9534f !important;
	border-color: #d9534f !important;
}
.custom-btn:hover{
	color: #fff !important;
	background-color: #bd3e3a !important;
}
